.item-details {
    background-color: #1f1f1f;
    color: #fff;
    .top-search-bar-section {
        position: relative;
        background-color: #121212;
        padding: 5px 0 10px 0;
        height: 50px;
        .top-search-bar {
            width: 100%;
            position: absolute;
        }
    }
    .top-row {
        padding-top: 45px;
        h2,
        p {
            color: #fff;
        }
        .left-side{
            .details{
                p{
                    margin-right: 10px;
                }
            }
        }
        .ratings {
            margin-right: 15px;
            .rating-source {
                margin-top: 5px;
            }
            .star {
                color: gold;
            }
        }
    }
}
